<% provide(:title,  "動画フォルダ一覧") %>
<div class="content">
  <%= link_to "フォルダ新規作成", new_organization_folder_path, remote: true, class: "btn btn-success" %>
  <div style="text-align:center">
      <%@folders.each do |folder|%>
        <table style="float:left;margin:15px;">
          <tr>
            <td>
              <%= link_to organization_folder_path(folder.organization_id, folder.id) ,method: :get do %>
                <i class="far fa-folder fa-8x"></i>
              <% end %>
            </td>
          </tr>
          <tr>
            <th id = "<%=folder.organization_id%>" class = "<%=folder.id%>">
              <%=folder.name%> &nbsp;
              <%= link_to organization_folder_path(folder.organization_id, folder.id), method: :delete, data: {confirm: "削除しますか？"} do%>
                <i class="far fa-trash-alt" color=red></i>
              <% end %>
            </th>
          </tr>
        </table>
      <%end%>
    </div>
  </div>
</div>

<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>