<% provide(:title, "視聴者詳細") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <th><%= "名前" %></th>
          <td><%= @viewer.name %></td>
        </tr>
        <tr>
          <th><%= "メールアドレス" %></th>
          <td><%= @viewer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "編集", edit_viewer_path, class: "btn btn-md btn-block btn-success" %>
    <%= link_to "一覧画面へ", viewers_path, class: "btn btn-md btn-block btn-default" %>
  </div>
</div>