<%= render layout: 'shared/search_box' do %>

<div class="row">
  <div class="col-sm-6">
    <%= form_with(scope: :search, url: videos_search_videos_path, method: :get, local: true) do |f| %>
      <div class="form-group form-inline">
        <%= f.label :title, "タイトル", class: 'm-2' %>
        <%= f.text_field :title_like, value: @search_params[:title_like], placeholder: 'キーワードを入力', id: 'search-title', class: 'form-control col-sm-6' %>
      </div>
      <div class="form-group form-inline">
        <%= f.label :open_period, "公開期間", class: 'm-3' %>
        <%= f.datetime_field :open_period_from, value: @search_params[:open_period_from], id: 'search-open_period_from', class: 'form-control' %> 〜
        <%= f.datetime_field :open_period_to, value: @search_params[:open_period_to], id: 'search-open_period_to', class: 'form-control' %>
      </div>
      <div class="form-group form-inline">
        <%= f.radio_button :range, "all", value: @search_params[:range] == "all", id: 'search-range-all' %>
        <%= f.label :range_all, "すべての動画", class: 'm-1' %>
        <%= f.radio_button :range, "true", value: @search_params[:range] == "true", id: 'search-range-true' %>
        <%= f.label :range_true, "一般公開のみ", class: 'm-1' %>
        <%= f.radio_button :range, "false", value: @search_params[:range] == "false", id: 'search-range-false' %>
        <%= f.label :range_false, "限定公開のみ", class: 'm-1' %>
      </div>
      <div class="form-group form-inline">
        <%= f.label :user, "動画投稿者", class: 'm-1' %>
        <%= f.text_field :user_name, value: @search_params[:user_name], placeholder: 'キーワードを入力', id: 'search-user-name', class: 'form-control col-sm-6' %>
      </div>
        <button class="btn btn-default m-1" id="video-form-reset", name="video_form_reset", value="video_form_reset">リセット</button>
        <button class="btn btn-primary m-1" type="submit" id="video-form-submit"><i class="fa fa-search"></i> 検索</button>
    <% end %>
  </div>
</div>

<% end %>
