<% provide(:title, "組織詳細") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <th><%= "名前" %></th>
          <td><%= @organization.name %></td>
        </tr>
        <tr>
          <th><%= "メールアドレス" %></th>
          <td><%= @organization.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="card-footer">
    <% if current_user&.role == 'owner' %>
      <%= link_to "編集", edit_organization_path, class: "btn btn-md btn-block btn-success" %>
    <% elsif current_system_admin %>
      <%= link_to "組織一覧", organizations_path, class: "btn btn-md btn-block btn-default" %>
    <% end %>
    <%= link_to "投稿者一覧", users_path(organization_id: @organization.id), class: "btn btn-md btn-block btn-default" %>
    </div>
</div>