<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'viewers', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'viewers', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition sidebar-mini" id="<%= page_body_id(params) %>">
    <div class="wrapper">
      <%= render "layouts/header" %>
      <%= render "layouts/viewers/side" %>
      <div class="content-wrapper">
        <%= render "layouts/flash" %>
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"><%= yield(:title) %></h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <%= render template: "layouts/application" %>
      </div>
      <%= render "layouts/footer" %>
  </body>
</html>
